
.corpo{
    margin: 180px;
    font-family: sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    }

.caixa{
    background-color: #cecece;
    padding: 10px;
    display: block;
    gap: 10px;
    border-radius: 10px;
    
}


